@{
    ViewData["Title"] = "Index";
}

@section Scripts{

    <script src="~/admin-app/controllers/Kekhai-gia/index.js"></script>
    <script src="~/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
    <script>
        var kekhaigia = new KekhaiController();
        kekhaigia.initialize();
    </script>
}
<div class="page-title">
    <div class="title_left">
        <h3>Đơn giá <small> Danh sách đơn giá</small></h3>
    </div>

    <div class="title_right">
        <div class="col-md-6 form-group pull-right">

            <div class="input-group">
                <input type="text" id="txtKeyword" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-primary" id="btnSearch" type="button">Go!</button>
                </span>
            </div>
        </div>

        @*<div class="col-md-6 form-group pull-right">
                <button id="btnCreate" class="btn btn-success"><i class="fa fa-plus"></i></button>
            </div>*@
    </div>
</div>
<div class="clearfix"></div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_content">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Đơn vị</th>
                            <th>Ngày áp dụng</th>
                            <th>Tuyến</th>
                            <th>CP trực tiếp</th>
                            <th>CP chung</th>
                            <th>Tổng chi phí</th>
                            <th>Giá vé</th>
                            <th>Trạng thái</th>
                            <th width="12%">#</th>
                        </tr>
                    </thead>
                    <tbody id="tbl-content"></tbody>
                    <tfoot>
                        <tr>
                            <td colspan="9"><span class="pull-right">Tổng số bản ghi: <strong id="lblTotalRecords"></strong></span></td>
                        </tr>
                    </tfoot>
                </table>
                <!--Pagination-->

                <div class="row">
                    <div class="col-md-2">
                        <div class="dataTables_info" id="datatable-checkbox_info" role="status" aria-live="polite">
                            <select class="form-control fixed" id="ddlShowPage">
                                <option value="10" selected="selected">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="50">50</option>
                            </select>
                        </div>
                    </div><div class="col-md-10">

                        <ul class="pull-right" id="paginationUL" style="margin:0px"></ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script id="table-template" type="x-tmpl-mustache">
    <tr>

        <td>{{Ten}}</td>
        <td>{{DateApplied}}</td>
        <td>{{Tuyen}}</td>
        <td>{{TotalCPTT}}</td>
        <td>{{TotalCPC}}</td>
        <td>{{Total}}</td>
        <td>{{PriceUnit}}</td>
        <td>{{{KekhaiGiaStatus}}}</td>
        <th scope="row">
            <button class="btn btn-default btn-xs btnEditDongia" data-id="{{Id}}"  data-baseid="{{BaseId}}" data-dktuyenid="{{DKTuyenId}}" ><i class="fa fa-pencil"></i></button>
            <button class="btn btn-danger btn-xs btnDelete" data-id="{{Id}}"><i class="fa fa-trash"></i></button>


        </th>
    </tr>
</script>
@Html.Partial("_EditModal.cshtml")

